[core]
	editor = nvim
	excludesfile = ~/.gitignore
	commitGraph = true
	hooksPath = ~/.git-hooks
[color]
	ui = true
[gpg]
	program = gpg2
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = lains@riseup.net
	name = Filipe Laíns
	signingkey = 46F633CBB0EB4BF2
[log]
	utf8 = true
[init]
	templatedir = ~/.git-templates
